<div class="heading">
    <h1>Description</h1>
    </div>   
    <div class="c2">
<section class="about">
    <div class="about-image">
        <img [src]="myimage6" >
    

    </div>
    <div class="about-content">
        <h2>LOGICAL REASONING</h2>
        <h3>Rs.899</h3>
        <p>
            This book is very useful for all competitive examinations.
             Logical Reasoning shows one's ability to comprehend and 
             solve problems. As the tests are time bound, they also test 
             the logical thinking of the candidates and their ability to 
             reason and make effective decisions quickly under pressure. 
        </p>
        <h2>
            About the Author
        </h2>
        <p>
            
            Publications like S.Chand, Arihant and McGraw-Hill have been trusted by 
            candidates and coaching centres alike for their adherence to the exam 
            syllabi of a number of competitive exams. Furthermore, with frequent
             updates and revisions as per changes made in the exam pattern make
              them nothing short of exam essentials.
        </p>
    </div>
</section>

<button class="button" routerLink="/payment">Buynow</button><br>
    <button class="button" routerLink="/cart6">Add to Cart</button>
