<div class="heading">
    <h1>Description</h1>
    </div>   
    <div class="c2">
  <section class="about">
    <div class="about-image">
        <img [src]="myimage12" >
    
  
    </div>
    <div class="about-content">
        <h2>THE LAND OF MY DREAMS</h2>
        <h3>Rs.569</h3>
        <p>
           
            In 1916, the people are settling down to the business of war.
             As conscription reaches into every household, Britain turns
              out men and shells in industrial numbers from army camps and 
              munitions factories up and down the land. Bobby Hunter gains 
              his wings and joins his brother in France. Ethel, the under housemaid,
               embarks on a quest and Laura sets out on her biggest adventure yet.
                Diana finds a second chance at happiness in the last place she'd think 
                of looking, and Beattie's past comes back to haunt her. But as the Battle 
                of the Somme grinds into action, the shadow of death falls over every
                 part of the country, and the Hunter household cannot remain untouched.
        </p>
        <h2>
            About the Author
        </h2>
        <p>
            
            
            This is the third book in the War at Home series by Cynthia Harrod-Eagles, 
            author of the much-loved Morland Dynasty novels. Set against the real 
            events of 1916, this is a richly researched and a wonderfully authentic
             family drama featuring the Hunter family and their servants.
        </p>
    </div>
  </section>
  
  <button class="button" routerLink="/payment">Buynow</button><br>
    <button class="button" routerLink="/cart12">Add to Cart</button>
  