<div class="heading">
    <h1>Description</h1>
    </div>   
    <div class="c2">
  <section class="about">
    <div class="about-image">
        <img [src]="myimage11" >
    
  
    </div>
    <div class="about-content">
        <h2>CRITICAL THINKING</h2>
        <h3>Rs.599</h3>
        <p>
           
            Critical thinking is a kind of thinking in which you question, analyse, interpret,
             evaluate and make a judgement about what you read, hear, say, or write. 
             The term critical comes from the Greek word kritikos meaning “able to judge or discern”
        </p>
        <h2>
            About the Author
        </h2>
        <p>
            
            
            Nigel Warburton, Five Books philosophy editor and author of Thinking 
            from A to Z, selects some of the best books on critical thinking—and 
            explains how they will help us make better informed decisions and construct more valid arguments.
        </p>
    </div>
  </section>
  
  <button class="button" routerLink="/payment">Buynow</button><br>
    <button class="button" routerLink="/cart11">Add to Cart</button>
  