<div class="heading">
    <h1>Description</h1>
    </div>   
    <div class="c2">
  <section class="about">
    <div class="about-image">
        <img [src]="myimage8" >
    
  
    </div>
    <div class="about-content">
        <h2>THE NEW CLASSIC</h2>
        <h3>Rs.659</h3>
        <p>
            The New Classics, a definitive collection of classic recipes for every
             modern cook from donna hay magazine. this is the ultimate Donna Hay 
             cookbook, the book that has everything that you ever wanted to know how
              to cook. Absolutely up to the minute, it contains all our old family 
              favourites as well as new delights, everything from beef and ale pies 
              to dulce de leche, from mac n' cheese to macarons, it's exactly the food
               that we want to cook and eat NOW, all written in Donna's trademark simple,
                clear and easy way. A gorgeously rich and deluxe hardback book with stunning 
                finishes and embellishments - ideal for a Christmas gift, coffee table, 
                kitchen bench or bookshelf - it features stunning photography and hundreds of mouthwatering recipes.
        </p>
        <h2>
            About the Author
        </h2>
        <p>
            
            
                This is Donna Hay's biggest and best cook book yet. 
                For Isabella Beeton in 1861 it was Mrs Beeton's Book of Household Management,
                 for Stephanie Alexander in 1996 it was the Cook's Companion and for Maggie Beer
                  in 2007 it was Maggie's Harvest. these books went onto become bestsellers,
                   staples in every home; they were the one-stop recipe books that defined these 
                   authors' work and became essential everyday reference books for their time.
                    Now in 2013, Australia's leading cookbook author Donna Hay reveals her landmark book,
        </p>
    </div>
  </section>
  
  <button class="button" routerLink="/payment">Buynow</button><br>
    <button class="button" routerLink="/cart8">Add to Cart</button>
  