<div class="heading">
    <h1>Description</h1>
    </div>   
    <div class="c2">
<section class="about">
    <div class="about-image">
        <img [src]="myimage3" >
    

    </div>
    <div class="about-content">
        <h2>KILLING STALKING</h2>
        <h3>Rs.549</h3>
        <p>
           
            Killing Stalker falls somewhere between a psychological thriller and psychological horror.
             Its main character, Yoon Bum, is a mentally ill man with borderline personality disorder (BPD).
              He becomes infatuated with another man, named Oh Sangwoo, with whom he served time in the military
        </p>
        <h2>
            About the Author
        </h2>
        <p>
            Killing Stalking is a South Korean manhwa written and illustrated by Koogi. 
            It was published online in Korean and English by Lezhin Comics and won 
            the ₩100,000,000 Grand Prize Award at the Second Lezhin World Comics Contest.
        </p>
    </div>
</section>

<button class="button" routerLink="/payment">Buynow</button><br>
    <button class="button" routerLink="/cart3">Add to Cart</button>
