<div class="heading">
    <h1>Description</h1>
    </div>   
    <div class="c2">
<section class="about">
    <div class="about-image">
        <img [src]="myimage5" >
    

    </div>
    <div class="about-content">
        <h2>DAN DADAN</h2>
        <h3>Rs.999</h3>
        <p>
            A nerd must fight powerful spirits and aliens all vying for the secret power of
             his “family jewel,” so who better to fight alongside him than his high school 
             crush and a spirit granny?!Momo Ayase and Okarun are on opposite sides of the 
             paranormal spectrum regarding what they’ll believe in and what they won’t. 
             Their quest to prove each other wrong leads them down a path of secret crushes 
             and paranormal battles they’ll have to participate in to believe!Okarun and Momo
              search for his precious family jewels, which he lost during his battle with Turbo Granny.
               Unfortunately, their classmate Aira has already found one, and it’s awakened spiritual
                powers within her. Around this same time, a strange woman in a red dress appears at
                 their school and attacks them! Who is she, and what’s with her obsession with Aira?
            
        </p>
        <h2>
            About the Author
        </h2>
        <p>
            
            Dandadan is an ongoing supernatural action comedy manga series written 
            and illustrated by Yukinobu Tatsu (a former assistant of Chainsaw Man mangaka Tatsuki Fujimoto) that b
            egan serialization in Shonen Jump + on April 6, 2021. The series began an 
            official English simultaneous release on August 23 that same year, available 
            on VIZ Media's website here and Manga Plus's website here, and later received
             English printed volume distribution starting on October 2022.
        </p>
    </div>
</section>

<button class="button" routerLink="/payment">Buynow</button><br>
    <button class="button" routerLink="/cart5">Add to Cart</button>
