<div class="heading">
    <h1>Description</h1>
    </div>   
    <div class="c2">
  <section class="about">
    <div class="about-image">
        <img [src]="myimage14" >
    
  
    </div>
    <div class="about-content">
        <h2>LOST STARS</h2>
        <h3>Rs.389</h3>
        <p>
           
    
            The novel depicts the story of two childhood friends, Ciena Ree and Thane Kyrell, 
            who end up on opposite sides of the conflict: Thane defects to the Rebel Alliance,
             while Ciena stays in the Galactic Empire.
        </p>
        <h2>
            About the Author
        </h2>
        <p>
            
            Lost Stars is a young-adult canon novel written by Claudia Gray. 
            It was first published in hardcover by Disney–Lucasfilm Press on 
            September 4, 2015, as part of the Journey to Star Wars: The Force
             Awakens book series. A paperback edition was released in the United 
             Kingdom by Egmont UK Ltd on October 8, 2015.
        </p>
    </div>
  </section>
  
  <button class="button" routerLink="/payment">Buynow</button><br>
    <button class="button" routerLink="/cart14">Add to Cart</button>
  