<div class="heading">
    <h1>Description</h1>
    </div>   
    <div class="c2">
<section class="about">
    <div class="about-image">
        <img [src]="myimage1" >
    

    </div>
    <div class="about-content">
        <h2>BLUE LOCK</h2>
        <h3>Rs.350</h3>
        <p>
            A mad young coach gathers soccer players from across the country to compete in a
             series of bizarre challenges in a high-tech colosseum he calls Blue Lock. 
             It's a no-balls-barred battle to become Japan's next top striker, in this Squid Game–meets–World Cup manga
        </p>
        <h2>
            About the Author
        </h2>
        <p>
                Muneyuki Kaneshiro broke out as creator of 2011's As the Gods Will,
                 a death game story that spawned two sequels and a film adaptation directed 
                 by the legendary Takashi Miike. His latest work is the stylish and twisted soccer battle manga Blue Lock.
                 Manga artist Yusuke Nomura debuted in 2014 with the grotesquely cute cult hit alien invasion story 
                 Dolly Kill Kill, which was released digitally in English by Kodansha.
                  His latest work is the soccer battle manga Blue Lock.
        </p>
    </div>
</section>

<button class="button" routerLink="/payment">Buynow</button><br>
    <button class="button" routerLink="/addtocart">Add to Cart</button>
