<div class="heading">
  <h1>Description</h1>
  </div>   
  <div class="c2">
<section class="about">
  <div class="about-image">
      <img [src]="myimage7" >
  

  </div>
  <div class="about-content">
      <h2>QUANTITATIVE APTITUDE</h2>
      <h3>Rs.399</h3>
      <p>
        The best-selling quantitative aptitude book covers arithmetic,
         algebra, geometry, data interpretation, and statistical analysis,
          providing comprehensive explanations, solved examples, and practice exercises.
      </p>
      <h2>
          About the Author
      </h2>
      <p>
          
          Publications like S.Chand, Arihant and McGraw-Hill have been trusted by 
          candidates and coaching centres alike for their adherence to the exam 
          syllabi of a number of competitive exams. Furthermore, with frequent
           updates and revisions as per changes made in the exam pattern make
            them nothing short of exam essentials.
      </p>
  </div>
</section>

<button class="button" routerLink="/payment">Buynow</button><br>
  <button class="button" routerLink="/cart7">Add to Cart</button>
