table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    margin-top: 100px;
    margin-right: 60px;
    margin-left: 30px;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color:lightpink;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  input[type="text"],
  input[type="number"] {
    width: 100%;
    padding: 5px;
  }
  
  button {
    padding: 10px 30px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  img{
    margin-right: 0px;
  }
  .th h4{
    margin-right: 50px;
  }
  .th h2{
    margin-left: 90px;
  }
  