<div class="heading">
    <h1>Description</h1>
    </div>   
    <div class="c2">
  <section class="about">
    <div class="about-image">
        <img [src]="myimage13" >
    
  
    </div>
    <div class="about-content">
        <h2>THE  DREAMS</h2>
        <h3>Rs.299</h3>
        <p>
           
    
            A book, pamphlet, etc., that lists common dreams and purports to interpret them, 
            especially in regard to their meaning for the future.
        </p>
        <h2>
            About the Author
        </h2>
        <p>
            
            
            Lieutenant-Colonel Kanhoba Ranchoddas Kirtikar (1849-1917) served 
            as an army surgeon in British India and was also an enthusiastic amateur botanist
        </p>
    </div>
  </section>
  
  <button class="button" routerLink="/payment">Buynow</button><br>
    <button class="button" routerLink="/cart13">Add to Cart</button>
  