         
<head>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
        <div class="form-group">
            
        </div>
        <div class="container">
        <div class="row">
        <div class="column">

        <div class="image-grid">
            

        
                
                        
                        <div class="col">
                        <div class="product-top">
                            <img [src]="myimage1" class="img-size" routerLink="/pro1" >
                        
                        </div>
                        <div class="product-details">
                        <h3>Bluelock </h3>
                        
                        <h4> ₹ 350</h4>
                       

                        </div>
                        </div>
                        <div class="col">
                        <div class="product-top">
                            <img [src]="myimage2" class="img-size" routerLink="/pro2">
                        </div>
                        <div class="product-details">
                            <h3>Chainsawman</h3>
                           
                            <h4>₹400</h4>
                      

                        </div>
                        </div>
                        <div class="col">
                        <div class="product-top">
                    <img [src]="myimage3"class="img-size" routerLink="/pro3">
        
                        </div>
                        <div class="product-details">
                            <h3>Killing Stalking</h3>
                            
                            <h4>₹549</h4>
                           

                        </div>
                        </div>
                        <div class="col">
                            <div class="product-top">
                        <img [src]="myimage4" class="img-size" routerLink="/pro4">
            
                            </div>
                            <div class="product-details">
                                <h3>Hayao Miyazaki</h3>
                                
                                <h4>₹499</h4>
                               

            
                            </div>
                            </div>
                            <div class="col">
                                <div class="product-top">
                            <img [src]="myimage5" class="img-size"  routerLink="/pro5" >
                
                                </div>
                                <div class="product-details">
                                    <h3>Dan dadan</h3>
                                    
                                    <h4>₹999</h4>
                                    
                
                                </div>
                                </div>
                                <div class="col">
                                    <div class="product-top">
                                <img [src]="myimage6" class="img-size" routerLink="/pro6" >
                    
                                    </div>
                                    <div class="product-details">
                                        <h3>Logical reasoning</h3>
                                        
                                        <h4>₹899</h4>
                                        

                    
                                    </div>
                                    </div>
                                    <div class="col">
                                        <div class="product-top">
                                    <img [src]="myimage7" class="img-size" routerLink="/pro7">
                        
                                        </div>
                                        <div class="product-details">
                                            <h3>Quantitaive Aptitude</h3>
                                            
                                            <h4>₹399</h4>
                                           
                        
                                        </div>
                                        </div>
                                        <div class="col">
                                            <div class="product-top">
                                        <img [src]="myimage8" class="img-size" routerLink="/pro8" >
                            
                                            </div>
                                            <div class="product-details">
                                                <h3>The new classic</h3>
                                              
                                                <h4>₹659</h4>
                                               

                            
                                            </div>
                                            </div>
                                            <div class="col">
                                                <div class="product-top">
                                            <img [src]="myimage9" class="img-size" routerLink="/pro9">
                                
                                                </div>
                                                <div class="product-details">
                                                    <h3>The business</h3>
                                                
                                                    
                                                    
                                                    <h4>₹599</h4>
                                                   

                                
                                                </div>
                                                </div>
                                                <div class="col">
                                                    <div class="product-top">
                                                <img [src]="myimage10" class="img-size" routerLink="/pro10">
                                    
                                                    </div>
                                                    <div class="product-details">
                                                        <h3>The way of the nameless</h3>
                                                        
                                                        
                                                        <h4>₹799</h4>
                                                       

                                    
                                                    </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="product-top">
                                                    <img [src]="myimage11" class="img-size"  routerLink="/pro11" >
                                        
                                                        </div>
                                                        <div class="product-details">
                                                            <h3>Critical thinking</h3>
                                                            
                                                            
                                                            <h4>₹399</h4>
                                                            

                                        
                                                        </div>
                                                        </div>
                                                        <div class="col">
                                                            <div class="product-top">
                                                        <img [src]="myimage12" class="img-size"  routerLink="/pro12">
                                            
                                                            </div>
                                                            <div class="product-details">
                                                                <h3>The land of my dreams</h3>
                                                                
                                                                
                                                                <h4>₹569</h4>
                                                                

                                            
                                                            </div>
                                                            </div>
                                                       
                                                    <div class="col">
                                                        <div class="product-top">
                                                    <img [src]="myimage13" class="img-size"  routerLink="/pro13">
                                        
                                                        </div>
                                                        <div class="product-details">
                                                            <h3>The dreams</h3>
                                                            
                                                            
                                                            <h4>₹299</h4>
                                                          

                                        
                                                        </div>
                                                        </div>
                                                  
                                                <div class="col">
                                                    <div class="product-top">
                                                <img [src]="myimage14" class="img-size" routerLink="/pro14" >
                                    
                                                    </div>
                                                    <div class="product-details">
                                                        <h3>Lost starts</h3>
                                                       
                                                        
                                                        <h4>₹389</h4>
                                                        

                                    
                                                    </div>
                                                    </div>
                                              
                                            <div class="col">
                                                <div class="product-top">
                                            <img [src]="myimage15" class="img-size" routerLink="/pro15">
                                
                                                </div>
                                                <div class="product-details">
                                                    <h3>Supergood food</h3>
                                                    
                                                
                                                    <h4>₹399</h4>
                                                   

                                
                                                </div>
                                                </div>
                                           
                                        <div class="col">
                                            <div class="product-top">
                                        <img [src]="myimage16" class="img-size" routerLink="/pro16">
                            
                                            </div>
                                            <div class="product-details">
                                                <h3>Fortune</h3>
                                                
                                                
                                                <h4>₹549</h4>
                                               

                            
                                            </div>
                                            </div>
                                       
                                    <div class="col">
                                        <div class="product-top">
                                    <img [src]="myimage17" class="img-size" routerLink="/pro17">
                        
                                        </div>
                                        <div class="product-details">
                                            <h3>Pendidikan</h3>
                                           
                                            <h4>₹699</h4>
                                           
                        
                                        </div>
                                        </div>
                                  
                                <div class="col">
                                    <div class="product-top">
                                <img [src]="myimage18" class="img-size" routerLink="/pro18">
                    
                                    </div>
                                    <div class="product-details">
                                        <h3>Sweet</h3>
                                        
                                        <h4>₹459</h4>
                                        
                    
                                    </div>
                                    </div>
                        

                    
                        
                                   