<div class="heading">
    <h1>Description</h1>
    </div>   
    <div class="c2">
<section class="about">
    <div class="about-image">
        <img [src]="myimage2" >
    

    </div>
    <div class="about-content">
        <h2>CHAINSAWMAN</h2>
        <h3>Rs.400</h3>
        <p>
           
                       Broke young man + chainsaw demon = Chainsaw Man! Denji was a small-time devil
                        hunter just trying to survive in a harsh world. After being killed on a job,
                         he is revived by his pet devil Pochita and becomes something new and 
                         dangerous-Chainsaw Man! In order to achieve the greatest goal in human history-to touch 
                        a boob-Denji will risk everything in a fight against the dangerous Bat Devil. 
                        But will getting what he wants actually make him happy..
        </p>
        <h2>
            About the Author
        </h2>
        <p>
            Tatsuki Fujimoto won Honorable Mention in the November 2013 Shueisha Crown Newcomers'
             Awards for his debut one-shot story Love is Blind. His first series Fire Punch ran for 
             eight volumes. Chainsaw Man began serialization in 2018 in Weekly Shonen Jump.
        </p>
    </div>
</section>

<button class="button" routerLink="/payment">Buynow</button><br>
    <button class="button" routerLink="/cart2">Add to Cart</button>
