<div class="heading">
    <h1>Description</h1>
    </div>   
    <div class="c2">
  <section class="about">
    <div class="about-image">
        <img [src]="myimage10" >
    
  
    </div>
    <div class="about-content">
        <h2>THE WAY OF NAMELESS</h2>
        <h3>Rs.599</h3>
        <p>
            The story follows Kaidu, a young boy from the warrior nation occupying 
            the Nameless City. Along the way he makes an unlikely friend in a girl 
            named Rat who was born in the city and orphaned by the occupying forces
             as a young child. With the city as their backdrop, our two protagonists
              explore what it means to identify with a people while stumbling onto
               a nefarious plot to overthrow and destroy the city.
        </p>
        <h2>
            About the Author
        </h2>
        <p>
            
            
            Acknowledged as "America's most popular suspense novelist" (Rolling Stone) and as one
             of today's most celebrated and successful writers, Dean Ray Koontz has earned the devotion
              of millions of readers around the world and the praise of critics everywhere for tales of
               character, mystery, and adventure that strike to the core of what it means to be human.

            Dean, the author of many #1 New York Times bestsellers, lives in Southern California with his
             wife, Gerda, their golden retriever, Elsa, and the enduring spirit of their goldens, Trixie and Anna.
        </p>
    </div>
  </section>
  
  <button class="button" routerLink="/payment">Buynow</button><br>
    <button class="button" routerLink="/cart10">Add to Cart</button>
  