<div class="heading">
    <h1>Description</h1>
    </div>   
    <div class="c2">
  <section class="about">
    <div class="about-image">
        <img [src]="myimage9" >
    
  
    </div>
    <div class="about-content">
        <h2>THE BUSINESS</h2>
        <h3>Rs.599</h3>
        <p>
            The Business Magazine is the leading B2B events and publishing house in the South East.

            As the independent voice of business in the South East, the digital magazine contains news, features 
            
            and profiles, and is read by nearly 43,000 company directors and business leaders every month.
            
            A further 14,500 unique visitors see regularly-updated business news coverage on our website, while 4,500 
            
            subscribe to our newsletters every week.
            
            In addition, The Business Magazine engages with thousands of business people through the year at a series of major events
            
            – from awards nights to breakfast seminars and roundtable discussions.
            
            Our community consists of businesses with a strong regional presence, commercial integrity and strong desire to
            
            interact with the businesses around them.
        </p>
        <h2>
            About the Author
        </h2>
        <p>
            
            
            Author  Mr. A. V. Rajwade is a well-known figure in the Indian financial markets.
             His work has earned him the respect of people across professions and ages and has
              led many to seek him out to help understand the intricacies of complex issues. 
              He has authored several books on the subject of foreign exchange risk management,
               debt securities, etc and currently contributes a weekly column for the Business Standard
                titled the ‘The Other Side’
        </p>
    </div>
  </section>
  
  <button class="button" routerLink="/payment">Buynow</button><br>
    <button class="button" routerLink="/cart9">Add to Cart</button>
  