<div class="heading">
    <h1>Description</h1>
    </div>   
    <div class="c2">
  <section class="about">
    <div class="about-image">
        <img [src]="myimage18" >
    
  
    </div>
    <div class="about-content">
        <h2>SUPER GOOD FOOD</h2>
        <h3>Rs.399</h3>
        <p>
           
            This book is a food guide containing timeless knowledge of healing the
             body with plant-based food, without any medicine. This book contains over
              45 plant based Satvic healing recipes curated by author Subah Saraf,
               including detox salads, healing soups, and classic Indian cuisine such
                as Satvic chapati, Satvic khichadi and Satvic sabzi. All recipes are
                 free from refined oil, sugar, pungent spices, milk & milk products,
                  and processed foods. They are made using ingredients straight from
                   nature, the way you find them in nature. Packed with beautiful photography,
                    the Satvic Food Book invites you to change your relationship with food and
                     radically enhance your health, digestion, radiance, and bliss. Apart from 
                     the recipes, the book also contains: - 21 Satvic Food Laws
                      (rules to remember while Satvic cooking) - Guide to setup your
                       Satvic Kitchen (shopping lists, equipment needed) - Meal Plans for disease reversal
        </p>
        <h2>
            About the Author
        </h2>
        <p>
            
            Eagle’s debut has been lauded as a “Best Food Book of the Year” by the Times 
            of London and won the Fortnum & Mason Debut Food Book Award. In “First, Catch,”
             the former chef of London’s Little Duck — the Picklery unpacks the philosophical
              and culinary implications of preparing a spring lunch. The simple menu — pickles,
               cured sea trout, potatoes, sprouting broccoli, sweet and sour celery and a rabbit ragu
                — acts as a springboard for a series of culinary explorations: the science of fermentation;
                 17 ways to describe boiling water; cooking fish in fire; the charms of wild and 
                 domestic celeries; and the lives and deaths of rabbits.
        </p>
    </div>
  </section>
  
  <button class="button" routerLink="/payment">Buynow</button><br>
    <button class="button" routerLink="/cart18">Add to Cart</button>
  