
   

  
<div clsss="body">
<div class="container" >
    <div class="content">
<div class="slider-frame">
  <div class="slide-images">
    <div class="img-container">
      <img [src]="myimage34" width="1200" height="500"  >
    </div>
    <div class="img-container"> 
      <img [src]="myimage37" width="1300" height="500"  >
    </div>
    <div class="img-container">
      <img [src]="myimage35"width="1200" height="500"   >
    </div>
    <div class="img-container">
        <img [src]="myimage20" width="1200" height="500"   ><br><br>
      </div>
  </div><br><br>
</div>
</div>

</div>


   

    </div>
    
<div class="content content2">
    <div class="product-details">
    <div class="image-container">
        <div  class="image-item">
            <h3>New Arrivals</h3><br><br>
          <img [src]="myimage22"  alt="Image" height="250px" width="150px"  >
          <img [src]="myimage26"  alt="Image" height="250px" width="150px" >
          <img [src]="myimage29"  alt="Image" height="250px" width="150px" >
          <img [src]="myimage25"  alt="Image" height="250px" width="150px" >
          <img [src]="myimage28"  alt="Image" height="250px" width="150px" >
          <img [src]="myimage27"  alt="Image" height="250px" width="150px" >
          <img [src]="myimage24"  alt="Image" height="250px" width="150px" >
          <img [src]="myimage23"  alt="Image" height="250px" width="150px" >
          <img [src]="myimage30"  alt="Image" height="250px" width="150px" >
          <img [src]="myimage31"  alt="Image" height="300px" width="150px" >
          <img [src]="myimage17"  alt="Image" height="250px" width="150px" >
          <img [src]="myimage3"  alt="Image" height="250px" width="150px" >
        
          
       
        
            </div>
      </div>
    </div>
 
<div class="content content3"> 
<div class="heading">
    
<h1>About Us</h1>
</div>   


    



              
<div class="hero">
    
    <div class="about-us">
        <video width="640" height="360" controls>
            <source src="assets/images/The Joy of Books.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        <h1>Our Goal</h1>
    <p>Welcome to our online book shopping website! We are passionate about books and believe in the power of reading to enrich lives. Our goal is to provide book lovers with a convenient and enjoyable online shopping experience.
    At our store, you'll find a vast collection of books across various genres, including fiction, non-fiction, self-help, science fiction, and more. We work closely with publishers and authors to ensure we offer the latest releases and timeless classics.<br>
    Our team is dedicated to delivering excellent customer service. If you have any questions or need assistance, feel free to contact us. We're here to help!<br>
    Happy reading!</p>
    <a  style="color:black;margin-top: 10px;margin-right: 20px;" routerLink="/login">Willingness to purchase ?? Login Here...</a><br>
  </div>
  </div>
  
 </div>


  