<div class="heading">
    <h1>Description</h1>
    </div>   
    <div class="c2">
<section class="about">
    <div class="about-image">
        <img [src]="myimage4" >
    

    </div>
    <div class="about-content">
        <h2>HAYAO MIYAZAKI</h2>
        <h3>Rs.499</h3>
        <p>
            For over four decades, Hayao Miyazaki has been enchanting audiences of all ages.
             His animated films, often featuring children navigating unfamiliar and challenging worlds,
              offer timeless explorations of youth and what it means to grow up.
               Celebrated and admired around the globe for his artistic vision, 
               craftsmanship and deeply humanistic values, Miyazaki has influenced generations of artists.
                The universal appeal of his evocative natural settings and complex characters, 
                many among them strong girls and young women, cuts across cultural boundaries.
                 This book is published on the occasion of the 2021 inaugural exhibition at the 
                 Academy Museum of Motion Pictures in Los Angeles, in collaboration with Studio Ghibli in Tokyo. 
        </p>
        <h2>
            About the Author
        </h2>
        <p>
            
            A co-founder of Studio Ghibli, he has attained international acclaim as
             a masterful storyteller and creator of Japanese animated feature films,
              and is widely regarded as one of the most accomplished filmmakers in the history of animation.
        </p>
    </div>
</section>

<button class="button" routerLink="/payment">Buynow</button><br>
    <button class="button" routerLink="/cart4">Add to Cart</button>
